<div class="p-4">
    <div *ngFor="let item of todoList">
        <!-- <p class="todo">{{ item.titre }}    =>   {{ item.detail }}<p> -->

    </div>
    <table class="table table-striped">
        <thead>
            <tr>
                <th>Titre</th>
                <th>Détail</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let item of todoList" >
                <td>{{item.titre}}</td>
                <td>{{item.detail}}</td>
            </tr>
        </tbody>
    </table>
</div>