<div class="container-fluid p-4">
    <form #taskForm="ngForm" (ngSubmit)="validateForm(taskForm)" >
        <div class="mb-2">
            <label class="form-label">Tâche</label>
            <input class="form-control" type="text" ngModel name="taskName" required minlength="4">
        </div>

        <!-- <app-select-user [(user)]="task.user"></app-select-user> -->

        <div class="mb-2 form-check">
            <input class="form-check-input" type="checkbox" ngModel name="done">
            <label class="form-check-label">Terminée</label>
        </div>

        <button class="btn btn-primary" type="submit">Valider</button>
    </form>
</div>